:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;


}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white)
}

/* =====================  Common components  ================ */

.button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--ocean);
    color: var(--white);
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.subtitle,
.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate)
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);

}

/* ======================  Header ===========================*/

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris)
}

.decor {
    color: var(--navy-blue);
}

.menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--ocean)
}


.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean)
}

/* ======================  Hero ===================== */
.hero {
    background-color: var(--navy-blue);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.hero-button {
    background-color: var(--iris);
    color: var(--white);
}


/* =======================  Advantages  ===================== */

/* ======================  Team  =========================== */
.team {
    background-color: var(--cloud);
}

.team-item {
    background-color: var(--white);
}

/* =======================  Work  ========================== */

/* ======================  Footer  ============================= */
.footer {
    background-color: var(--navy-blue);
}

.footer-description {
    color: var(--cloud);
}

.logo-footer .decor {
    color: var(--cloud);
}

/* ======================= Portfolio ========================== */